[Desktop Entry]
Type=Service
Icon=baloo
Name=File Meta Data Properties Page
Name[ca]=Pàgina de propietats de metadades de fitxer
Name[ca@valencia]=Pàgina de propietats de metadades de fitxer
Name[cs]=Stránka vlastností metadat souboru
Name[de]=Eigenschaftenseite der Datei-Metadaten
Name[en_GB]=File Meta Data Properties Page
Name[es]=Página de propiedades de los metadatos de archivos
Name[fi]=Tiedoston metatieto-ominaisuussivu
Name[gl]=Páxina de propiedades de metadatos de ficheiro
Name[it]=Pagina delle proprietà dei metadati del file
Name[nl]=Pagina metagegevenseigenschappen
Name[nn]=Eigenskapsside for filmetadata
Name[pl]=Strona właściwości metadanych pliku
Name[pt]=Página de Propriedades dos Meta-Dados do Ficheiro
Name[sk]=Strana vlastností metadát súboru
Name[sl]=Stran z lastnostmi metapodatkov datotek
Name[sv]=Egenskapssida för filmetadata
Name[uk]=Сторінка властивостей і метаданих файла
Name[x-test]=xxFile Meta Data Properties Pagexx
Name[zh_CN]=文件元数据属性页
Comment=Properties page showing meta data of files, such as image dimensions, artist information, and others
Comment[ca]=Pàgina de propietats que mostra les metadades de fitxers, com les dimensions de les imatges, informació de l'artista, i altres
Comment[ca@valencia]=Pàgina de propietats que mostra les metadades de fitxers, com les dimensions de les imatges, informació de l'artista, i altres
Comment[de]=Eigenschaftenseite zur Anzeige der Metadaten von Dateien wie Bildergröße, Interpreten und weitere Informationen
Comment[en_GB]=Properties page showing meta data of files, such as image dimensions, artist information, and others
Comment[es]=Página de propiedades que muestra metadatos de archivos, como las dimensiones de las imágenes, información sobre el artista y otros.
Comment[fi]=Sivu, joka näyttää tiedostojen metatietoa kuten kuvan mitat, artistin tiedot ja muuta
Comment[gl]=Páxina de propiedades que mostra os metadatos de ficheiros, como as dimensións de imaxes, a información de artistas, etc.
Comment[it]=Pagina delle proprietà che mostra i metadati dei file, come le dimensioni dell'immagine, le informazioni sull'artista e altre
Comment[nl]=Eigenschappenpagina toont metagegevens van bestanden, zoals afmeting van afbeelding, informatie over artiest en andere
Comment[nn]=Eigenskapsside som viser metadata til filer, for eksempel biletstorleik og artistinformasjon.
Comment[pl]=Strona właściwości pokazująca metadane plików, takie jak rozmiar obrazu, informacje o artyście i inne
Comment[pt]=Página de propriedades que mostra os meta-dados dos ficheiros, como as dimensões das imagens, informações sobre o artista, entre outros
Comment[sk]=Strana vlastností zobrazujúac metadáta súborov, ako rozmery obrázku, informácie o umelcoch a iné
Comment[sl]=Stran z lastnostmi, ki prikazuje metapodatke datotek, kot so na primer dimenzije slike, podatki o izvajalcu in druge
Comment[sv]=Egenskapssida som visar filers metadata, såsom bilddimensioner, artistinformation, med mera
Comment[uk]=На сторінці властивостей буде показано метадані файла, зокрема розміри зображення, дані щодо художника тощо
Comment[x-test]=xxProperties page showing meta data of files, such as image dimensions, artist information, and othersxx
Comment[zh_CN]=显示文件元数据的属性页，比如图像尺寸，艺术家信息和其他
X-KDE-Library=baloofilepropertiesplugin
X-KDE-Protocol=file
X-KDE-ServiceTypes=KPropertiesDialog/Plugin
MimeType=inode/directory;application/octet-stream
