[Desktop Entry]
Type=Service
Icon=baloo
Name=File Meta Data Properties Page
Name[ast]=Páxina de propiedaes de los datos meta de ficheros
Name[ca]=Pàgina de propietats de les metadades del fitxer
Name[ca@valencia]=Pàgina de propietats de metadades de fitxer
Name[cs]=Stránka vlastností metadat souboru
Name[de]=Eigenschaftenseite der Datei-Metadaten
Name[el]=Σελίδα ιδιοτήτων μεταδεδομένων αρχείου
Name[en_GB]=File Meta Data Properties Page
Name[es]=Página de propiedades de los metadatos de archivos
Name[et]=Faili metaandmete omaduste lehekülg
Name[eu]=Fitxategi meta-datuen propietateen orria
Name[fi]=Tiedoston metatieto-ominaisuussivu
Name[fr]=Page de propriétés des méta-données du fichier
Name[gl]=Páxina de propiedades de metadatos de ficheiro
Name[ia]=Pagina de proprietates de meta datos de file
Name[id]=Properti Halaman Meta Data File
Name[it]=Pagina delle proprietà dei metadati del file
Name[ko]=파일 메타데이터 속성 페이지
Name[lt]=Failo metaduomenų savybių puslapis
Name[nl]=Pagina metagegevenseigenschappen
Name[nn]=Eigenskapsside for filmetadata
Name[pl]=Strona właściwości metadanych pliku
Name[pt]=Página de Propriedades dos Meta-Dados do Ficheiro
Name[pt_BR]=Página de propriedades dos metadados do arquivo
Name[ru]=Вкладка сведений о метаданных для диалога «свойства файла»
Name[sk]=Strana vlastností metadát súboru
Name[sl]=Stran z lastnostmi metapodatkov datotek
Name[sv]=Egenskapssida för filmetadata
Name[uk]=Сторінка властивостей і метаданих файла
Name[x-test]=xxFile Meta Data Properties Pagexx
Name[zh_CN]=文件元数据属性页
Name[zh_TW]=檔案中繼資料屬性頁面
Comment=Properties page showing meta data of files, such as image dimensions, artist information, and others
Comment[ast]=Páxina de propiedaes qu'amuesa los datos meta de ficheros: data de modificación, tamañu, triba y más
Comment[ca]=Pàgina de propietats que mostra les metadades dels fitxers, com les dimensions de les imatges, informació de l'artista, i altres
Comment[ca@valencia]=Pàgina de propietats que mostra les metadades de fitxers, com les dimensions de les imatges, informació de l'artista, i altres
Comment[de]=Eigenschaftenseite zur Anzeige der Metadaten von Dateien wie Bildergröße, Interpreten und weitere Informationen
Comment[el]=Η σελίδα ιδιοτήτων εμφανίζει μεταδεδομένα αρχείου, όπως διαστάσεις εικόνων, πληροφορίες για τους καλλιτέχνες, και άλλα
Comment[en_GB]=Properties page showing meta data of files, such as image dimensions, artist information, and others
Comment[es]=Página de propiedades que muestra metadatos de archivos, como las dimensiones de las imágenes, información sobre el artista y otros.
Comment[et]=Omaduste lehekülg, mis näitab failide metaandmeid, näiteks pildi mõõtmeid, teavet esitaja kohta jne.
Comment[eu]=Fitxategien meta-datuak erakusten dituen propietateen orria, hala nola irudien neurriak, artistaren gaineko informazioa, eta beste batzuk
Comment[fi]=Sivu, joka näyttää tiedostojen metatietoa kuten kuvan mitat, artistin tiedot ja muuta
Comment[fr]=La page de propriétés affichant les méta-données des fichiers, par exemple les dimensions de l'image, les informations relatives à l'artiste, etc.
Comment[gl]=Páxina de propiedades que mostra os metadatos de ficheiros, como as dimensións de imaxes, a información de artistas, etc.
Comment[ia]=Pagina de propeietates monstrante meta dtos de file, tal como grandr de image, information de artista e altere cosas
Comment[id]=Properti halaman yang menampilkan meta data file, sepertihalnya dimensi citra, informasi seniman, dan lainnya
Comment[it]=Pagina delle proprietà che mostra i metadati dei file, come le dimensioni dell'immagine, le informazioni sull'artista e altre
Comment[ko]=그림 크기, 음악가 정보 등 파일 메타데이터를 표시하는 속성 페이지
Comment[lt]=Savybių puslapis, rodantis failų metaduomenis, tokius kaip paveiksliukų matmenys, atlikėjo informacija ir kita
Comment[ml]=ഇമേജിന്റെ വലുപ്പം, ഇമേജ് അളവുകൾ, ആർട്ടിസ്റ്റ് വിവരം, എന്നിവ പോലെയുള്ള ഫയലുകളുടെ മെറ്റാ ഡാറ്റ കാണിക്കുന്ന സവിശേഷതകൾ പേജ്
Comment[nl]=Eigenschappenpagina toont metagegevens van bestanden, zoals afmeting van afbeelding, informatie over artiest en andere
Comment[nn]=Eigenskapsside som viser metadata til filer, for eksempel biletstorleik og artistinformasjon.
Comment[pl]=Strona właściwości pokazująca metadane plików, takie jak rozmiar obrazu, informacje o artyście i inne
Comment[pt]=Página de propriedades que mostra os meta-dados dos ficheiros, como as dimensões das imagens, informações sobre o artista, entre outros
Comment[pt_BR]=Página de propriedades que mostra os metadados dos arquivos, como as dimensões das imagens, informações sobre o artista, entre outros
Comment[ru]=Вкладка свойств файла для просмотра их метаданных, таких как размеры в пикселях, сведения об авторе и прочих
Comment[sk]=Strana vlastností zobrazujúac metadáta súborov, ako rozmery obrázku, informácie o umelcoch a iné
Comment[sl]=Stran z lastnostmi, ki prikazuje metapodatke datotek, kot so na primer dimenzije slike, podatki o izvajalcu in druge
Comment[sv]=Egenskapssida som visar filers metadata, såsom bilddimensioner, artistinformation, med mera
Comment[uk]=На сторінці властивостей буде показано метадані файла, зокрема розміри зображення, дані щодо художника тощо
Comment[x-test]=xxProperties page showing meta data of files, such as image dimensions, artist information, and othersxx
Comment[zh_CN]=显示文件元数据的属性页，比如图像尺寸，艺术家信息和其他
Comment[zh_TW]=顯示檔案中繼資料的屬性頁面，例如：圖片大小、作家資訊以及其他。
X-KDE-Library=baloofilepropertiesplugin
X-KDE-Protocol=file
X-KDE-ServiceTypes=KPropertiesDialog/Plugin
MimeType=inode/directory;application/octet-stream
